<h1>Editing image</h1>

<%= semantic_form_for @image do |f| %>
<tr>
  <td><%= f.name %></td>
  <td><%= f.category %></td>
  <td><%= f.pathway %></td>
</tr>

 <% end %>
<%= render 'form' %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
