<h1>Listing images</h1>

<% @images.each do |image| %>
    <table border="1">
      <tr>
        <div class="field">
          <td>
            <b>Name:</b>
            <%= image.name %>
          </td>
      </tr>
      <tr>
      <td>
        <b>Category:</b>
        <%= image.category %>
      </td>
      </div>
      </tr >
      <tr>
        <td>
          <div>
            <%= image_tag image.uploaded %>
          </div>
        </td>
      </tr>
    </table>

        <div class="field">
          <%= link_to 'Show', image %>
          <%= link_to 'Edit', edit_image_path(image) %>
          <%= link_to 'Destroy', image, method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
    <br/>
<% end %>
<br/>

<%= link_to 'New image', new_image_path %>
