<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <b>Category:</b>
  <%= @image.category %>
</p>

<p>
  <b>Path:</b>
  <%= @image.pathway %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
